name: Continuous Integration/ Continuous Deployment
on:
  pull_request:
    types:
      - opened
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Node LTS versions
      uses: msimerson/node-lts-versions@v1.1.1
    - run: npm install --force
    - run: npm test --ci --coverage
    - uses: artiomtr/jest-coverage-report-action@v2.0-rc.1
      with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          threshold: 80
          package-manager: npm
          test-script: npm run test:cov
    - uses: ArtiomTr/jest-coverage-report-action@v2
      id: coverage
      with:
        output: report-markdown
    - uses: marocchino/sticky-pull-request-comment@v2
      with:
        message: ${{ steps.coverage.outputs.report }}
