name: Continuous Integration/ Continuous Deployment
on:
  pull_request:
    types:
      - opened
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Node LTS versions
      uses: msimerson/node-lts-versions@v1.1.1
    - run: npm install --force
    - run: npm run build --if-present
